{% extends 'base.html' %}

{% block content %}
<h1 class="text-danger">Hello</h1>
<h2>Hello</h2>
<h3 class="hx">Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>

<div style="background-color: red; width: 1000px; height: 500px;">
    <div class="d1">

    </div>
    <div class="d2">

    </div>
</div>

<div class="s1">
    <h2>hhhhh</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    
</div>

<section >
    <h2>hhhhh</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    
</section>

<section class="s2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    
</section>

<section id="s3">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nam rem suscipit laborum molestias! Totam, aut non distinctio vero, ipsum modi sequi vel tempore, repellat labore quod unde nam atque.</p>
    
</section>


<a href="" download="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLLUBkJgwdSnMEx7TGzJ5p_2kz8JxCGv1bW3EKuBCa2w&s">Download</a>
<a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLLUBkJgwdSnMEx7TGzJ5p_2kz8JxCGv1bW3EKuBCa2w&s">link visit</a>
<a href="" target="_blank">Blank</a>


<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLLUBkJgwdSnMEx7TGzJ5p_2kz8JxCGv1bW3EKuBCa2w&s" alt="">


<table>
    <thead>
    <tr>
        <th>tHead</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td>TBody</td>
        </tr>
    </tbody>
</table>

<table>
    <tr>
      <th style="color: red;">Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>

  <input type="text">
  <input type="number" name="" id="">
  <input type="checkbox" name="" id="">
  <input type="color" name="" id="">
  <input type="datetime-local" name="" id="">
  <input type="datetime" name="" id="">
  <input type="email" name="" id="">
  <button type="submit">dcsdc</button>
  <input type="submit" value="dccvcsd">

  <ol>
    <li>hkucdb</li>
    <li>hkucdb</li>
    <li>hkucdb</li>
    <li>hkucdb</li>
    <li>hkucdb</li>
    <li>hkucdb</li>
  </ol>

  <ul>
    <li>frvevd </li>
    <li>frvevd </li>
    <li>frvevd </li>
    <li>frvevd </li>
    <li>frvevd </li>
    <li>frvevd </li>
  </ul>


  <video width="320" height="240" controls>
    <source src="" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
  </video>

  <iframe src="https://www.youtube.com/embed/2DrwK_4JTr0" title="description"></iframe>
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2DrwK_4JTr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock content %}




